*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Gowun Batang, Arial;
}
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
    width: 100%;
}

.img-slide {
    display: block;
    width: 90%;
    height: 580px;
    margin: 0 auto;
}
header{
    display: flex;
    padding: 30px 5%;
    align-items: center;

}
header img{
    width: 35%;
}
.navbar{
    display: flex;
}
.navbarA{
    font-weight: 548;
    font-size: 18px;
    color: black;
}
header > li {
    width: 20%; /*20*5=100%*/
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #ffffff;
  }

  
  .submenu > li {
    line-height: 50px;
    background-color: #f3f4e2;
  }
  
  .submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
  }

  header > li:hover {
    background-color: #eff1c5;
    transition-duration: 0.5s;
  }
  
  header > li:hover .submenu {
    height: 150px; /*서브메뉴 li한개의 높이 50*n*/
    transition-duration: 1s;
  }


  .holiday {
    display: grid;
    grid-template-columns: 6fr 4fr;
    align-items: center;
    gap: 4rem;
    padding: 3%;
  }
  
  .holiday-img {
    overflow: hidden;
    border-radius: 10px;
  }
  
  .holiday-img img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .holiday-img:hover img {
    transform: scale(1.1);
  }
  .holiday-text {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.holiday-text h5,
.holiday-text h2 {
    display: table-caption;
    text-align: left;
    margin-bottom: 1rem;
}

.holiday-text p {
    display: table-row;
}



.holiday-text p {
    display: table-row;
}

.holiday-text p span {
    display: table-cell;
    padding: 1.8rem;
    border-bottom: 1px solid #ddd;
}

.footer {
    padding: 5%;
    background-color: gray;
    color: rgb(233, 233, 233);
    display: flex;
    align-items: flex-start;
    gap: 12rem; /* 두 아이템 사이의 간격 조정 */
}

.footer-box:first-child h3 {
    font-size: 3rem; /* 전화번호 크기 키우기 */
    font-weight: bold; /* 굵게 만들기 */
    color: rgb(221, 200, 106);
}

.footer-box p {
    font-weight: 500; /* 글자 굵게 */
    font-size: 1.1rem;
    margin: 15px 0; /* 위아래 간격 조정 */
}