*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: Gowun Batang, Arial;
}
.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.mySlides {
    display: none;
    width: 100%;
}

.img-slide {
    display: block;
    width: 90%;
    height: 900px;
    margin: 0 auto;
}
header{
    display: flex;
    padding: 30px 5%;
    align-items: center;

}
header img{
    width: 50%;
}
.navbar{
    display: flex;
}
.navbarA{
    font-weight: 600;
    font-size: 23px;
    color: black;
}
header > li {
    width: 20%; /*20*5=100%*/
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #ffffff;
  }

  
  .submenu > li {
    line-height: 50px;
    background-color: #dbe0f4;
  }
  
  .submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
  }

  header > li:hover {
    background-color: #c5ccee;
    transition-duration: 0.5s;
  }
  
  header > li:hover .submenu {
    height: 150px; /*서브메뉴 li한개의 높이 50*n*/
    transition-duration: 1s;
  }


.holiday{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
    padding: 3%;
}
.holiday img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.footer{
    padding: 5%;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 4rem;
}